<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

  <title>Settings</title>
</head>

<body>
  <div data-role="page" id="settingsPage">
    <div data-role="header">

      <h1>Give-N</h1>
      <h2>Default Settings</h2>
      <p>These settings are applied to the test start screen</p>
    </div>

    <div role="main" class="ui-content">

      <form action="./default.html" name="default">
       <div class="row">
          <div class="col-md-3">
            <label>Give-N Type: </label>
            <b>Titrated Give-N</b> tests children using a stair-case procedure. E.g., if a child correctly gives 3, the next number tested is 4; if not, the next number is 2. Usually faster, but may test individual numbers fewer times.
            <p>
            <b>Non-titrated Give-N</b> tests a set of numbers (which can be specified below) three times each. Generally slower, but tests individual numbers multiple times.
            </p>
          </div>
          <div class="col-md-9">
            <fieldset data-role="controlgroup">
              <label> 
                <input type="radio" name="trialType" id="trialType-1" value="titrated" checked="checked"  />
                Titrated 
              </label>
              <label>
                <input type="radio" name="trialType" id="trialType-2" value="nontitrated" />
                Non-titrated
              </label>
              <div id="nontitratedRange" data-role="collapsible">
                <h2>Non-titrated number range:</h2>

                <label><input type="checkbox" name="nontitratedRange1" checked="checked" data-val="1" />1</label><br />
                <label><input type="checkbox" name="nontitratedRange2" checked="checked" data-val="2" />2</label><br />
                <label><input type="checkbox" name="nontitratedRange3" checked="checked" data-val="3" />3</label><br />
                <label><input type="checkbox" name="nontitratedRange4" checked="checked" data-val="4" />4</label><br />
                <label><input type="checkbox" name="nontitratedRange5" checked="checked" data-val="5" />5</label><br />
                <label><input type="checkbox" name="nontitratedRange6" checked = "checked" data-val="6" />6</label><br />
                <label><input type="checkbox" name="nontitratedRange7" data-val="7" />7</label><br />
                <label><input type="checkbox" name="nontitratedRange8" data-val="8" />8</label><br />
                <label><input type="checkbox" name="nontitratedRange9" data-val="9" />9</label><br />
                <label><input type="checkbox" name="nontitratedRange10" data-val="10" />10</label><br />
              </div>
            </fieldset>
          </div>

        </div>
       <div class="row">
          <div class="col-md-3">
            <label for="languagesSpoken">Languages spoken by child:</label>
          </div>
          <div class="col-md-9">

            <div id="languagesSpoken" data-role="collapsible">
              <h2>Please select: </h2>

              <label><input type="checkbox" name="languagesSpoken1" checked="checked" data-val="English"/>English</label>
              <label><input type="checkbox" name="languagesSpoken2"  data-val="French" />French</label>
              <label><input type="checkbox" name="languagesSpoken3"  data-val="Spanish"/>Spanish</label>
              <label><input type="checkbox" name="languagesSpoken4" data-val="Mandarin" />Mandarin</label>
              <label><input type="checkbox" name="languagesSpoken5"  data-val="Japanese"/>Japanese</label>
              <label><input type="checkbox" name="languagesSpoken6"  data-val="German"/>German</label>
              <label><input type="checkbox" name="languagesSpoken7"  data-val="Italian"/>Italian</label>

              <label>Other: </label><input id="otherLanguageSpoken" name="otherLanguageSpoken" type="text" />
            </div>
        <div class="row">
          <div class="col-md-3">
            <label for="languageOfSession">Language used for this session:</label>
          </div>
          <div class="col-md-9">
            <div id="languageOfSession" data-role="collapsible">
              <h2>Touch to choose: </h2>

              <label><input type="checkbox" name="languageOfSession" checked="checked" data-val="English" />English</label>
              <label><input type="checkbox" name="languageOfSession" data-val="French" />French</label>
              <label><input type="checkbox" name="languageOfSession" data-val="Spanish" />Spanish</label>
              <label><input type="checkbox" name="languageOfSession" data-val="Mandarin" />Mandarin</label>
              <label><input type="checkbox" name="languageOfSession" data-val="Japanese" />Japanese</label>
              <label><input type="checkbox" name="languageOfSession" data-val="German" />German</label>
              <label><input type="checkbox" name="languageOfSession" data-val="Italian" />Italian</label>
              <label><input type="checkbox" name="languageOfSession" id="languageOfSessionOther" data-val="Other" />Other</label>
              <label>Other: </label><input id="otherLanguageOfSession" name="otherLanguageOfSession" type="text" onfocus="$('#languageOfSessionOther').prop('checked', true).change(); $('input[name=languageOfSession]').checkboxradio('refresh')" />
            </div>

        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="numberOfObjects">Number of counting objects available:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="numberOfObjects" name="numberOfObjects" value="8">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="startNumber">Start number:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="startNumber" name="startNumber" value="4">
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <label for="highestNumber">Highest test number:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="highestNumber" name="highestNumber" value="8">

          </div>



        </div>


      <!--   <div class="row" id="customFields">
        </div> -->


        <!-- <div style="border: 1px solid #eeeeee;">
          <h3>Create extra test data fields</h3>

          <div class="row">
            <div class="col-md-3">
              <label for="fieldName">Field name:</label>
            </div>
            <div class="col-md-9">
              <input type="text" id="fieldName" name="fieldName" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="fieldValue">Default field value:</label>
            </div>
            <div class="col-md-9">
              <input type="text" id="fieldValue" name="fieldValue" value="">
            </div>
            <div class="col-md-12">
              <input type="button" value="Add this custom field" id="bt_addCustom" />
            </div> -->

          </div>
        </div>

        <br />
        <br />
        <input type="submit" value="Save" onclick="giveN.saveSettings(this.form)" />
        <input type="submit" value="Cancel" />
      </form>
      <div data-role="popup" id="popupEditCustomField" data-theme="a" class="ui-corner-all">
        <form>
          <div style="padding: 10px 20px;">
            <h3>Edit custom field</h3>
            <label for="editFieldName" class="ui-hidden-accessible">Field name:</label>
            <input type="text" name="editFieldName" id="editFieldName" value="" placeholder="New field name" data-theme="a" />

            <input type="button" id="bt_customFieldChange" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check" value="Change" />
          </div>
        </form>
      </div>


    </div>


    <div data-role="footer"></div>
  </div>
</body>

</html>
